html{
    background-image: url(87ceeb.jpg);
}
h1{
    color: white;
    text-align: center;
    font-style: italic;
    font-weight: 800;
}
ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
ul a{
    text-decoration: underline;
    padding: 3px;
    color: limegreen;
    font-size: 120%;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    text-decoration: bold;
    transition: color .5s;
}
a{
    display: inline-block;
    padding-inline: 6px;
    border-left: 2px solid grey;
    line-height: .75;
    text-align: center;
    padding-right: 9px;
}
a:hover{
    color: white;
}
body{
    max-width: 750px;
    margin: 50px;
    padding: 30px;
    border: solid 8px limegreen;
}
h2{
    color: white;
    font-size: 170%;
    margin-left: 20px;
    font-family: 'Poppins', sans-serif;
}
p{
    margin: 1 1.5;
    margin-left: 20px;
    margin-right: 20px;
    color: white;
    font-size: 110%;
    font-family: 'Roboto', sans-serif;
}
img{
    width: 300px;
    height: 400px;
    float: right;
    padding: 30px;
}
